.view{
    position: relative;
    
    cursor: default;
}

.mask {
    height: 100%;
    top: 0;
    left: 0;
    position:absolute;
    overflow: hidden;
    text-align: center;
}

.__titulo {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
}

.__descripcion {
    text-wrap:balance;
    text-align: center;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    
}

.__info {
    position: absolute;
    bottom: 0;
    
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.view-first img {
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(119, 0, 0, 0.781);
    transition: all 0.4s ease-in-out;
}

.view-first .__titulo {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first .__descripcion {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first:hover .mask {
    opacity: 1;
}

.view-first:hover .__titulo,
.view-first:hover .__descripcion,
.view-first:hover .__info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover .__descripcion {
    transition-delay: 0.1s;
}

.view-first:hover .__info {
    transition-delay: 0.2s;
}

.view-first .__info {
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

