.view{
    position: relative;
    text-align: center;
}

.mask {
    height: 100%;
    top: 0;
    left: 0;
    position:absolute;
    overflow: hidden;
    
}

.__titulo {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 40px 0 0 0;
}

.__descripcion {
    
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}

.__info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    margin: 0 1px 1px 0;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}

.__info:hover {
    box-shadow: 0 0 5px #000;
}

.view-first img {
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(219, 127, 8, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first .__titulo {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first .__descripcion {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first:hover .mask {
    opacity: 1;
}

.view-first:hover .__titulo,
.view-first:hover .__descripcion,
.view-first:hover .__info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover .__descripcion {
    transition-delay: 0.1s;
}

.view-first:hover .__info {
    transition-delay: 0.2s;
}

.view-first .__info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

