.project-list {
  display: grid;
  grid-template-areas:  "item-a item-a"
                        "item-b item-c";
  gap: 20px; 
  
  
  .proyecto {
    &.cardPrincipal {
      grid-area: item-a; 
      
      
    }

    &.cardSecundaria1 {
      grid-area: item-b;
      
    }

    &.cardSecundaria2 {
      grid-area: item-c;
      
    }

    img {
      vertical-align: middle;
      border-radius: 50px;
      max-width: 100%; // Ajusta el ancho máximo de la imagen
      height: 100%; // Permite que la altura se ajuste automáticamente
    }
  }
}
