.project-list {
  display: grid;
  grid-template-areas:  "item-a item-a"
                        "item-b item-c";
  gap: 20px; // Espacio entre los proyectos

  .proyecto {
    &.cardPrincipal {
      grid-area: item-a; // Corregido el nombre del área de grid
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      padding: 20px;
    }

    &.cardSecundaria1 {
      grid-area: item-b;
      background-color: #e0e0e0;
      border: 1px solid #bbb;
      padding: 20px;
    }

    &.cardSecundaria2 {
      grid-area: item-c;
      background-color: #d0d0d0;
      border: 1px solid #aaa;
      padding: 20px;
    }
  }
}